<app-loading *ngIf='loading'></app-loading>

<!----Album Single Section Start---->
<div class="ms_album_single_wrapper ms_artist_single" *ngIf='!loading'>
  <div class="album_single_data">
    <div class="album_single_img">
      <img [src]='artist.images | noimage' alt="" class="img-fluid">
    </div>
    <div class="album_single_text">
      <h2>{{artist.name}}</h2>
      <h6  class="singer_name">{{artist.genres}} </h6>
      <div class="about_artist">
        Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in<br> reprehenderit in voluptate velit esse cillum dolor...
        <a [href]="artist.external_urls.spotify" target='_blank'>Read More</a>
      </div>
      <div class="album_btn">
        <a href="#" class="ms_btn play_btn"><span class="play_all"><img src="assets/images/svg/play_all.svg" alt="">Play All</span><span class="pause_all"><img src="assets/images/svg/pause_all.svg" alt="">Pause</span></a>
        <a href="#" class="ms_btn"><span class="play_all"><img src="assets/images/svg/add_q.svg" alt="">Add To Queue</span></a>
      </div>
    </div>
    <div class="album_more_optn ms_more_icon">
      <span><img src="assets/images/svg/more.svg" alt=""></span>
    </div>
<!--    <ul class="more_option">-->
<!--      <li><a href="#"><span class="opt_icon"><span class="icon icon_fav"></span></span>Add To Favourites</a></li>-->
<!--      <li><a href="#"><span class="opt_icon"><span class="icon icon_queue"></span></span>Add To Queue</a></li>-->
<!--      <li><a href="#"><span class="opt_icon"><span class="icon icon_dwn"></span></span>Download Now</a></li>-->
<!--      <li><a href="#"><span class="opt_icon"><span class="icon icon_playlst"></span></span>Add To Playlist</a></li>-->
<!--      <li><a href="#"><span class="opt_icon"><span class="icon icon_share"></span></span>Share</a></li>-->
<!--    </ul>-->
  </div>

  <!----Song List---->
  <div class="album_inner_list">
    <div class="album_list_wrapper">
      <ul class="album_list_name">
        <li>#</li>
        <li>Song Title</li>
        <li>Artist</li>
        <li class="text-center">Duration</li>
        <li class="text-center">Reproduction</li>
      </ul>

      <ul *ngFor='let track of topTracks; let i = index'>
        <li >
          <a >
            <span class="play_no">{{ i + 1 }}</span>
            <span class="play_hover"></span>
          </a>
        </li>
        <li >
          <a [href]="track.external_urls.spotify" target='_blank'>{{ track.name }}</a>
        </li>
        <li ><a href="#">{{ track.artists[0].name }}</a></li>
        <li class="text-center">
          <a href="#">{{ track.duration_ms * 1000 | date:'mm:ss' }}</a>
        </li>
        <li class="text-center">
<!--          <audio [src]='track.preview_url' controls></audio>-->
          <iframe [src]=" track.uri | domseguro"
                  width="300"
                  height="80"
                  frameborder="0"
                  allowtransparency="true"
                  allow="encrypted-media">
          </iframe>
        </li>
      </ul>
    </div>
  </div>
  <div class="ms_view_more padder_bottom20">
    <a href="#" class="ms_btn">view more</a>
  </div>
</div>
