

<div class="ms_header">
  <div class="">
    <div class="ms_top_trend">
      <img src="assets/img/banner-ico.png" width="30" height="30" alt="" class='mr-3'>
      <span>
        <a routerLink='home' class="ms_color text-decoration-none mr-3 ">Home</a>
      </span>
      <span >
        <a routerLink='search' class="ms_color text-decoration-none">Search</a>
      </span>

    </div>
  </div>

  <div class="ms_top_right d-flex">
    <div class="ms_top_btn d-flex ">
      <a href="" class="ms_btn reg_btn" ><span>register</span></a>
      <a href="" class="ms_btn login_btn" ><span>login</span></a>
    </div>
  </div>

</div>
