
<div class="ms_top_artist mt-3 animated fadeIn" >
  <div class="container-fluid">
    <div class="row">

      <div class="col-lg-12" *ngIf='items'>
        <div class="ms_heading mt-5">
          <h1>Recent Ranking</h1>
        </div>
      </div>

      <div class="col-lg-2 col-md-6" (click)='viewArtist(song)' *ngFor='let song of items'>
        <div class="ms_rcnt_box marger_bottom30" style='cursor: pointer'>
          <div class="ms_rcnt_box_img">
            <img [src]="song.images | noimage"  alt="" class="img-fluid">
            <div class="ms_main_overlay">
              <div class="ms_box_overlay"></div>
              <div class="ms_play_icon">
                <img src="assets/images/svg/play.svg" alt="">
              </div>
            </div>
<!--            <span  class="ms_frequency mb-0">{{song.artists[0].name}}</span>-->
          </div>
          <div class="ms_rcnt_box_text">
            <h3><a [href]='song.external_urls.spotify'>{{song.name}}</a></h3>
            <span  class="card-text"><small class="text-muted">
              {{song.release_date}}
            </small></span>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
